doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
  body
    form.login-form(action='/users/login',method='POST')
        h1 Login
        .txtb
          input(type='text',name='email')
          span(data-placeholder='Email')
        .txtb
          input(type='password',name='password')
          span(data-placeholder='Password')
        input.logbtn(type='submit' value='Login')
        .bottom-text
          | Don't have account? 
          a(href='#') Sign up
      script(type='text/javascript').
        $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
        });
        $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
        });


  //-       h1= title
  //- //p Welcome to #{title}
  //- a.btn.btn-primary(href='products') Visit W3Schools

